*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

iframe {
    position: absolute;
    transform: scale(0.75);
    transform-origin: 0 30
}